main{
    flex-grow: 1;
    padding: 2vh 8vw;
    padding-bottom: 8vh;
    width: 100vw;
    .itemList{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .cartList{
        display: flex;
        flex-direction: column;
        h2{
            text-align: center;
            font-size: 2rem;
            margin: 1rem;
        }
        div{
            display: flex;
        }
    }

    h4{
        text-align: center;
        font-size: 2rem;
        margin-top: 3rem;
    }
}