* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$casiNegro: #252525;
$marron: #a37657;
$cremita: #ffe7c3;
$verdeOscuro: #6c6b4c;
$doradito: #a3a261;
$gris: #756b6b;
/*---------------------HEADER---------------------------- */
#root  {
    display: flex;
    flex-direction: column;
}

html , body , #root {
    height: 100vh;
}

header{
    background-color: #252525;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    h1{
        color: white;
        padding: 1rem;
    }
    ul {
        display: flex;
        align-items: center;
        margin-right: 2rem;
        .carrito{
            color: white;
            font-size: 2rem;
        }
        li{
            font-size: 1.5rem;
            display: inline-block;
            padding: 1rem;
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
}

/*---------------------Main---------------------------- */
main{
    background-color: blanchedalmond;
    flex-grow: 1;
    h2 {
        margin: 3rem;
        span {
            color: crimson;
        }
    }
}

.card{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding-bottom: .5rem;
    background-color: $doradito;
    border-radius: 15px;
    width: fit-content;
    align-items: center;
    box-shadow: -2px 3px 4px rgba(70, 68, 68, 0.281);
    h3{
        color: $cremita;
        font-family: sans-serif;
        background-color: $casiNegro;
        width: 100%;
        text-align: center;
        padding: .5rem;
    }
    div{
        margin: .5rem 0;
        display: flex;
        align-items: center;
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            border-radius: 5px;
            width: 2rem;
            height: 2rem;
            border: none;
            background-color: $verdeOscuro;
            &:hover {
                transform: translateY(-1px);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
                background-color: goldenrod;
              }
              &:active {
                transform: translateY(1px);
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
              }
        }
        p{
            background-color: white;
            padding: .4rem .7rem;
            
        }
    }
    button{
        margin: 0.5rem;
        padding: .5rem;
        color: white;
        border-radius: 5px;
        border: none;
        background-color: $verdeOscuro;
        &:hover {
            transform: translateY(-1px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            background-color: goldenrod;
          }
          &:active {
            transform: translateY(1px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          }
    }
}

/*---------------------FOOTER---------------------------- */

footer{
    background-color: #252525;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    ul {
        margin-right: 2rem;
        li{
            font-size: 1rem;
            display: inline-block;
            padding: 1rem;
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
    p{
        color: white;
        font-size: 1rem;
        margin: 2rem;
        span{
            color: goldenrod;
            font-weight: bold;
        }
    }
}