.itemDetail {
  display: flex;
  flex-wrap: wrap;
  img {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: imagen;
    height: 30vh;
    background-color: bisque;
    font-size: 1rem;
  }
  div {
    display: flex;
    align-items: center;
    margin: 1rem;
    .titulos {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h3 {
        font-size: 2.5rem;
      }
      p {
        margin-top: 1rem;
        font-size: 1.5rem;
        span {
          font-size: 1.5rem;
          font-weight: 700;
        }
      }
    }
    .controles {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
